div.home-avatar > a,
.header-wrapper a {
  -webkit-tap-highlight-color: transparent; /* transparent with keyword */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* transparent with rgba */
  -webkit-tap-highlight-color: hsla(0, 0, 0, 0); /* transparent with hsla */
  -webkit-tap-highlight-color: #00000000; /* transparent with hex with alpha */
  -webkit-tap-highlight-color: #0000; /* transparent with short hex with alpha */
}
 


div.contact-form > form { max-width:420px; margin:50px auto; }
.hidden{ 
  display: none;
}
div.contact-form .feedback-input {
   /* font-family: Helvetica, Arial, sans-serif; */
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;

  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

div.contact-form .feedback-input:focus { border:2px solid #CC4949; }

div.contact-form textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

div.contact-form [type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

div.contact-form [type="submit"]:hover { background:#CC4949; }
