<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4899546289498046"
  crossorigin="anonymous"
></script>
<!-- post-bottom -->
<ins
  class="adsbygoogle"
  style="display: block"
  data-ad-client="ca-pub-4899546289498046"
  data-ad-slot="3270818099"
  data-ad-format="auto"
  data-full-width-responsive="true"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- <p>
  <a href="https://ko-fi.com/L4L11FCDEA" target="_blank"
    ><img
      height="49"
      style="border: 0px; height: 49px; display: block; margin: 0px auto"
      src="https://storage.ko-fi.com/cdn/kofi6.png?v=6"
      border="0"
      alt="Buy Me a Coffee at ko-fi.com"
  /></a>
</p> -->
